force-app/main/default/flows/Quote_Contracted_Create_Assets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>Record-Triggered Flow: when a Quote is Contracted, create one Asset per Hardware Quote Line using bulk DML (single Create Records call outside the loop). Fault path calls FlowErrorHandler and posts the cleaned message to Chatter on the Quote.</description>
    <environments>Default</environments>
    <interviewLabel>Quote Contracted - Create Assets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Contracted - Create Assets</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>
    <actionCalls>
        <name>Call_FlowErrorHandler</name>
        <label>Clean Fault Message</label>
        <locationX>320</locationX>
        <locationY>960</locationY>
        <actionName>FlowErrorHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Cleaned_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>rawMessages</name>
            <value>
                <elementReference>varRawMessagesList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowErrorHandler</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_Fault_To_Chatter</name>
        <label>Post Fault to Chatter</label>
        <locationX>320</locationX>
        <locationY>1200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>varChatterMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_Success_To_Chatter</name>
        <label>Post Success to Chatter</label>
        <locationX>50</locationX>
        <locationY>840</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Assets have been successfully created from this Contracted Quote.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_No_Hardware_Lines_To_Chatter</name>
        <label>Post No Hardware Lines to Chatter</label>
        <locationX>180</locationX>
        <locationY>840</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>This Quote was Contracted but contains no Hardware items, so no Assets were created.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
    </actionCalls>
    <assignments>
        <name>Build_Asset_In_Memory</name>
        <label>Build Asset In Memory</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>varNewAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLines.SBQQ__ProductName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewAsset.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__PrimaryContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewAsset.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLines.SBQQ__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewAsset.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLines.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewAsset.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLines.SBQQ__NetPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Purchased</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewAsset.PurchaseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Asset_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Asset_To_Collection</name>
        <label>Add Asset To Collection</label>
        <locationX>50</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>varAssetsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QuoteLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cleaned_Message</name>
        <label>Build Chatter Error Body (Prefix)</label>
        <locationX>320</locationX>
        <locationY>1080</locationY>
        <assignmentItems>
            <assignToReference>varChatterMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Asset creation failed. Reason: </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_Cleaned_Reason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Cleaned_Reason</name>
        <label>Append Cleaned Reason</label>
        <locationX>320</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>varChatterMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Call_FlowErrorHandler.cleanedMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Fault_To_Chatter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FaultToList</name>
        <label>Wrap Fault as List</label>
        <locationX>320</locationX>
        <locationY>840</locationY>
        <assignmentItems>
            <assignToReference>varRawMessagesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_FlowErrorHandler</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Any_Assets_To_Create</name>
        <label>Any Assets To Create?</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Post_No_Hardware_Lines_To_Chatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Hardware Lines</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Assets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssetsToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Assets_Bulk</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <loops>
        <name>Loop_QuoteLines</name>
        <label>Loop Quote Lines</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <collectionReference>Get_Hardware_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Asset_In_Memory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Any_Assets_To_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <recordCreates>
        <name>Create_Assets_Bulk</name>
        <label>Create Assets (Bulk)</label>
        <locationX>50</locationX>
        <locationY>720</locationY>
        <connector>
            <targetReference>Post_Success_To_Chatter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_FaultToList</targetReference>
        </faultConnector>
        <inputReference>varAssetsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Hardware_Quote_Lines</name>
        <label>Get Hardware Quote Lines</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_QuoteLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hardware</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Hardware_Quote_Lines</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contracted</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <variables>
        <name>varNewAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varAssetsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varChatterMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRawMessagesList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>